<% layout("/layouts/boilerplate") %>
<%- include('../includes/flash.ejs') %>
<body class="edit">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-11 mx-auto">
            <h1 class="text-center fw-bold mt-4" style="color: #fff; word-spacing: 0.5rem;">Edit your Listing</h1>
            <div class="mt-4 mb-5 border rounded-4 p-xl-4 p-4 box">
                <form action="/listings/<%= listing.id %>?_method=PATCH" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-4">
                        <label for="title" class="form-label mb-1">Title :</label>
                        <input type="text" name="listing[title]" id="title" class="form-control" value="<%= listing.title %>" required>
                        <div class="invalid-feedback">
                            Title is required, please provide a valid title.
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label mb-1">Description :</label>
                        <textarea type="textarea" name="listing[description]" id="description" rows="4" class="form-control" required><%= listing.description %></textarea>
                        <div class="invalid-feedback">
                            Description is required, please provide a some description.
                        </div>
                    </div>
                    <div class="mb-4">
                        <img src="<%= imageURL %>" alt="..." class="rounded-4 mb-3" height="200px" width="270px"><br>
                        <label for="image" class="form-label mb-1">Upload new Image :</label>
                        <input type="file" name="listing[image]" id="image" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="category" class="form-label">Select most appropriate category :</label>
                        <select class="form-select" name="listing[category]" required>
                            <option value="<%= listing.category %>" selected><%= listing.category %></option>
                            <option value="mountain">mountain</option>
                            <option value="room">rooms</option>
                            <option value="iconic city">iconic city</option>
                            <option value="amazing pool">amazing pools</option>
                            <option value="camping">camping</option>
                            <option value="farm house">farm house</option>
                            <option value="tree house">tree house</option>
                            <option value="beach">beach</option>
                            <option value="arctic">arctic</option>
                            <option value="dome">domes</option>
                            <option value="boat">boats</option>
                            <option value="cottage">cottage</option>
                            <option value="national park">national park</option>
                            <option value="others">Others</option>
                          </select>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 mb-4">
                            <label for="price" class="form-label mb-1">Price :</label>
                            <input type="number" name="listing[price]" id="price" class="form-control" value="<%= listing.price %>" required>
                            <div class="invalid-feedback">
                                Price is required.
                            </div>
                        </div>
                        <div class="col-xl-6 mb-4">
                            <label for="city" class="form-label mb-1">City :</label>
                            <input type="text" name="listing[city]" id="city" class="form-control" value="<%= listing.city %>" required>
                            <div class="invalid-feedback">
                                city is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 mb-4">
                            <label for="state" class="form-label mb-1">State :</label>
                            <input type="text" name="listing[state]" id="state" class="form-control" value="<%= listing.state %>" required>
                            <div class="invalid-feedback">
                                state is required.
                            </div>
                        </div>
                        <div class="col-xl-6 mb-4">
                            <label for="country" class="form-label mb-1">Country :</label>
                            <input type="text" name="listing[country]" id="country" class="form-control" value="<%= listing.country %>" required>
                            <div class="invalid-feedback">
                                country is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="address" class="form-label mb-1">Address :</label>
                        <input type="text" name="listing[address]" id="address"  class="form-control" value="<%= listing.address %>" required>
                        <div class="invalid-feedback">
                            address is required.
                        </div>
                    </div>
                    <button class="btn btn-blue fw-semibold">Update changes</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>