<% layout("/layouts/boilerplate") %>
<body class="show">
    <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-9 py-4 pe-xl-5 mx-auto">
            <div class="mt-1 mb-4">
                <h2 class="text-center fw-bold" style="color: #22668D; word-spacing: 5px;"><%= listing.title %></h2>
            </div>
            <div class="card mx-auto">
                <img src="<%= listing.image %>" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                  <p><%= listing.description %></p>
                  <p><p>&#8377; <%= listing.price.toLocaleString("en-in") %></p>
                  <p><%= listing.location %></p>
                  <p><%= listing.country %></p>
                  <div class="d-flex">
                    <a href="/listings/<%= listing.id %>/edit" class="btn-blue me-3 fw-semibold">Update</a>
                    <form action="/listings/<%= listing.id %>?_method=DELETE" method="post">
                        <button class="btn-yellow fw-semibold">Delete</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 py-4 ps-xl-5">
            <div class="row mb-4">
                <div class="col-xl-10 col-lg-6 col-md-10 mx-xl-auto mx-lg-0 mx-md-auto">
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="row bg-info">
                map
            </div>
        </div>
    </div>
    
</body>

