<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-9 py-4 pe-xl-5 mx-auto">
            <div class="mt-2 mb-5">
                <h1 class="text-center fw-bold" style="color: #22668D;"><%= listing.title %></h1>
            </div>
            <div class="card mx-auto">
                <img src="<%= listing.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title"><%= listing.description %></p>
                  <p class="card-text"><p>&#8377; <%= listing.price.toLocaleString("en-in") %></p>
                  <p><%= listing.location %></p>
                  <p class="mb-4 mb-xl-5"><%= listing.country %></p></p>
                  <div class="d-flex">
                    <a href="/listings/<%= listing.id %>/edit" class="btn-blue me-3 fw-semibold">Update</a>
                    <form action="/listings/<%= listing.id %>?_method=DELETE" method="post">
                        <button class="btn-yellow fw-semibold">Delete</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 py-4 ps-xl-5">
            <div class="row bg-warning">
                bookings
            </div>
            <div class="row bg-info">
                map
            </div>
        </div>
    </div>
    
</body>

